@model CST350Milestone.Models.BoardModel

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <div>
            <h1>Welcome to MineSweeper!</h1>
            <p>Start time: @DateTime.Now</p>
        </div>
        <div>
            <p>Current time: @DateTime.Now</p>
       <form>
            @for(int  i = 0; i < Model.Size; i++)
            {
                for(int j = 0; j < Model.Size; j++)
                {
                            // Create empty button
                            <button id="@i@j" class="game-button" type="submit" name="mine"  value="@i@j" data-valuex="@i" data-valuey="@j" style="height:50px;width:50px;vertical-align:top;" asp-controller="Game" asp-action="HandleButtonClick" onmousedown="right_click(this.id)">
                            </button>
                }
                <br />
            }
         </form>  
        
        </div>
        
        @ViewBag.bombLabel <br />
        @ViewBag.moves <br/>
        <label>Time Elapsed: </label> <br/> @ViewBag.timeElapsed
        <label>Game Result: </label> @ViewBag.GameResult <br/>
        <label>Score: </label> @ViewBag.Score


    </body>
</html>
