@model CST350Milestone.Models.BoardModel

@for(int  i = 0; i < Model.Size; i++)
            {
                for(int j = 0; j < Model.Size; j++)
                {

                        //If Square has Not Been Visited
                        @if (@Model.Grid[@i, @j].Visited == false)
                                {
                                    // Create empty button
                                        <button id="@Model.Grid[@i, @j].Row@Model.Grid[@i, @j].Column" class="game-button" type="submit" name="mine"  value="@Model.Grid[@i, @j].Row@Model.Grid[@i, @j].Column" data-valuex="@Model.Grid[@i, @j].Row" data-valuey="@Model.Grid[@i, @j].Column" style="height:50px;width:50px;vertical-align:top;"
                                            asp-controller="Game">
                                        </button>
                                }
                        
                        //If Square has Been Visited & Has no Live Neighbors
                        else if (@Model.Grid[@i, @j].Visited == true && @Model.Grid[@i, @j].LiveNeighbors == 0)
                                {

                                    // Create button with black square ontop and disable
                                        <button id="@Model.Grid[@i, @j].Row@Model.Grid[@i, @j].Column" class="game-button" type="submit" name="mine"  value="@Model.Grid[@i, @j].Row@Model.Grid[@i, @j].Column" data-valuex="@Model.Grid[@i, @j].Row" data-valuey="@Model.Grid[@i, @j].Column" style="height:50px;width:50px;vertical-align:top;margin:0; padding:0" disabled asp-controller="Game">
                                        <img src="https://u-mercari-images.mercdn.net/photos/m29988681083_1.jpg?width=1024&height=1024&format=pjpg&auto=webp&fit=crop&_=1594191996" width="46" height="46" style="margin:0; padding:0">
                                        </button>
                                }

                        //If Square is a Bomb and Has been Visited
                        else if (@Model.Grid[@i, @j].LiveNeighbors == 9 && Model.Grid[@i, @j].Visited == true)
                                {
                                    // Create a Bomb Button
                                    <button id="@Model.Grid[@i, @j].Row@Model.Grid[@i, @j].Column" class="game-button" type="submit" name="mine"  value="@Model.Grid[@i, @j].Row@Model.Grid[@i, @j].Column" data-valuex="@Model.Grid[@i, @j].Row" data-valuey="@Model.Grid[@i, @j].Column" style="height:50px;width:50px;vertical-align:top;" asp-controller="Game">
                                       💣
                                    </button>
                                }

                        //If Square has been Visited and is not a Bomb
                        else if (@Model.Grid[@i, @j].Visited == true && Model.Grid[@i, @j].LiveNeighbors < 9)
                                {
                                    // Create button with live neighbors on and disable
                                    <button id="@Model.Grid[@i, @j].Row@Model.Grid[@i, @j].Column" class="game-button" type="submit" name="mine"  value="@Model.Grid[@i, @j].Row@Model.Grid[@i, @j].Column" data-valuex="@Model.Grid[@i, @j].Row" data-valuey="@Model.Grid[@i, @j].Column" style="height:50px;width:50px;vertical-align:top;" disabled asp-controller="Game">
                                    @Model.Grid[@i, @j].LiveNeighbors
                                    </button>
                                }

                        //If the Square has been Flagged
                        else if (@Model.Grid[@i, @j].flagged == true)
                                {
                                    //Create a Flag Button
                                    <button id="@Model.Grid[@i, @j].Row@Model.Grid[@i, @j].Column" class="game-button" type="submit" name="mine"  value="@Model.Grid[@i, @j].Row@Model.Grid[@i, @j].Column" data-valuex="@Model.Grid[@i, @j].Row" data-valuey="@Model.Grid[@i, @j].Column" style="height:50px;width:50px;vertical-align:top;" asp-controller="Game">
                                    🚩
                                    </button>    
                                }

                        else
                                {
                                    // Create empty button
                                    <button id="@Model.Grid[@i, @j].Row@Model.Grid[@i, @j].Column" class="game-button" type="submit" name="mine"  value="@Model.Grid[@i, @j].Row@Model.Grid[@i, @j].Column" data-valuex="@Model.Grid[@i, @j].Row" data-valuey="@Model.Grid[@i, @j].Column" style="height:50px;width:50px;vertical-align:top;" asp-controller="Game">
                                    </button>
                                }

                            }
                        <br />
                       }